<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="uploadfile" multiple="multiple"/>
        <input type="submit" value="결과 확인"/>
    </form>

<!--    <a href="http://dddssrbackend-env.ap-northeast-2.elasticbeanstalk.com/oauth2/authorization/google">google</a>-->
<!--    <a href="http://dddssrbackend-env.ap-northeast-2.elasticbeanstalk.com/oauth2/authorization/naver">naver</a>-->
<!--    <a href="http://dddssrbackend-env.ap-northeast-2.elasticbeanstalk.com/oauth2/authorization/kakao">kakao</a>-->
    <a href="/oauth2/authorization/google">google</a>
    <a href="/oauth2/authorization/naver">naver</a>
    <a href="/oauth2/authorization/kakao">kakao</a>
</body>
</html>